<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Edit</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        
        <div>
            <h1>
                <div>
                    <%= property.title %>
                </div>
                <div>
                    <img src="<%= property.image %>">
                </div>
            </h1>
        </div>

        <form action="/properties/<%= property._id %>?_method=PATCH" method="POST">
            <div>
                <label for="title">Title</label>
                <input type="text" id="title" value="<%= property.title %>" name="property[title]">
            </div>
            <div>
                <label for="price">Price</label>
                <input type="number" id="price" name="property[price]" value="<%= property.price %>">
            </div>
            <div>
                <label for="location">Location</label>
                <input type="text" name="property[location]" value="<%= property.location %>">
            </div>
            <div>
                <label for="image">Image</label>
                <input type="text" name="property[image]" value="<%= property.image %>">
            </div>

            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    
        <footer>
            <a href="/properties">Go back</a>
        </footer>
    
    </body>
</html>
