<!DOCTYPE html>
<html lang="en">

<head>
    <title>Show page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div>
        <div>
            <h1>
                <div>
                    <%= property.title %>
                </div>
                <div>
                    <img src="<%= property.image %>">
                </div>
            </h1>
        </div>
        <div>
            <p><strong>Price: $</strong>
                <%= property.price %>
            </p>
            <p><strong>Location: </strong>
                <%= property.location %>
            </p>
        </div>

        <form action="/properties/<%= property._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>

        <footer>
            <a href="/properties">Go back</a>
            <a href="/properties/<%= property._id %>/edit">Edit</a>
        </footer>
    </div>
</body>

</html>